<table>
  <tr>
    <td>
      <%= upvote(comment) %>
    </td>
    <td>
      <strong><%= comment.author.username %></strong>
      <i><%= time_ago_in_words(comment.created_at) %> ago</i>
    </td>
  </tr>
  <tr>
    <td>
      <%= vote_count(comment) %>
    </td>
    <td>
      <%= comment.content %>
    </td>
  </tr>
  <tr>
    <td>
      <%= downvote(comment) %>
    </td>
    <td>
      <%= link_to "Reply", comment_url(comment) %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <% @comments_by_parent_id[comment.id].each do |child_comment| %>
        <%= render 'comments/comment', comment: child_comment %>
      <% end %>
    </td>
  </tr>
</table>
