<% post = @comment.post %>

<h2><%= voting(post) %> <%= link_to post.title, post_url(post) %></h2>

<p>
  <%= voting(@comment) %>
  <strong><%= @comment.author.user_name %></strong>
   <%= time_ago_in_words(@comment.created_at) %> ago
</p>

<p><%= @comment.content %></p>

<%= render 'form', parent_comment: @comment %>
