<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>User Profile</h1>

    <form action="<%= user_url %>" method="post">
      <%= authenticity %>
      <input type="hidden" name="_method" value="patch" >

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
          name=""
          class="form-control"
          value="<%= @user.username %>"
          readonly="readonly">
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
          name="user[name]"
          class="form-control"
          value="<%= @user.name %>">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
          name="user[email]"
          class="form-control"
          value="<%= @user.email %>">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
          name="user[password]"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="password_confirmation">Confirm Password</label>
        <input type="password"
          name="user[password_confirmation]"
          class="form-control">
      </div>

      <button type="Submit" class="btn btn-primary">Update Profile</button>

    </form>
  </div>
</div>
