<div>
  <%= link_to "All Subs", subs_url %>
</div>
<div>
  <% if logged_in? %>
    <div style="float: left; width: auto;">
      <%= "Logged in as #{current_user.user_name}  " %>
    </div>
    <div>
      <%= button_to "Logout", session_url, method: :delete %>
    </div>
  <% else %>
    <div style="float: left; width: auto;">
      <%= button_to "Login", new_session_url, method: :get %>
    </div>
    <div>
      <%= button_to "Register", new_user_url, method: :get %>
    </div>
  <% end %>
</div>
