<h3><%= @sub.title %></h3>
<% if moderator?(@sub) %>
  <p><%= link_to "Edit Sub", edit_sub_url, method: :get %></p>
<% end %>

<p>Moderated by: <%= @sub.moderator.user_name %></p>
<p><%= @sub.description %></p>
<p>Posts</p>
<ul>
  <% @sub.posts.each do |post| %>
  <li>
    <%= link_to post.title, post_url(post) %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Create Post", new_post_url, method: :get %></p>
