<h2><%= @post.title %></h2>

<% if author?(@post) %>
  <p><%= link_to "Edit", edit_post_url, method: :get %> |&nbsp;
  <%= link_to "Delete", post_url(@post), method: :delete %></p>
<% end %>

<p>
  <strong>Authored by: <%= @post.author.user_name %></strong><br/>
  <i>Posted at <%= @post.created_at %></i><br/>
  <%= link_to @post.url, @post.url %>
</p>

<p>Subs:</p>
<ul>
  <% @post.subs.each do |sub| %>
  <li>
    <%= link_to sub.title, sub_url(sub) %>
  </li>
  <% end %>
</ul>

<p><%= @post.content %></p>

<h3>Comments</h3>

<p>
  <%= link_to "Post your comment", new_comment_url(post: @post.id) %>
</p>

<% @comments_by_parent_id[nil].each do |top_level_comment| %>
  <%= render 'comments/comment', comment: top_level_comment %>
<% end %>
